{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('modal') }}
	{{ encore_entry_script_tags('dropdown') }}
{% endblock %}
{% block body %}
	<div class="mx-lg-5 mx-md-3 mx-sm-1 block-contributors-collection">
		{% include "/layout/_collection-data.html.twig" %}
		<div  id="target-contributor" class="block-contributors">
			<div class="title-block">
				<span class="section-title">
					Contributors
				</span>
			</div>
			<div class="toggle-fit-content d-flex global-contributors-dropdown">
				<div class="d-flex contributors-global-card">
					{% for i in 0..5 %}
						{% include "/layout/_contributor-card.html.twig" %}
					{% endfor %}
				</div>
			</div>
			<div class="d-lg-none d-flex dropdown-card">
				<button type="button" class="dropdown-button">
					<img id="btn-contributor" class="dropdown" src="{{ asset('build/dropdown-down.svg') }}" alt=""/></button>
			</div>
		</div>
	</div>
	{% include "/layout/_pined-mappool.html.twig" %}

{% endblock %}
