{% extends 'svg/_jumb.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <section class="jumbotron_home container-fluid">
        <div class="filter d-lg-flex flex-lg-column justify-content-lg-between">
            <div class="d-lg-flex h-lg-75">
                <div class="mt-3 ms-3">
                    <h1 class="title_h1">Osu! Nathel Mappools</h1>
                    <p class="font_xsmall">Get better on and create your mappools</p>
                    <a class="btn pink_button">Continue with osu !</a>
                </div>
                <div class="filter_2 d-lg-flex ms-md-3">
                    <div class="row_2 d-md-flex flex-lg-column justify-content-lg-between">
                        <div>
                            <h2 class="row_2_h2">Create and Share ! </h2>
                            <p class="mt-2  mt-lg-5 font_medium">
                                Welcome to the Osu! Nathel Mappool tool ! Have you never dreamt about easily creating
                                your own sets of maps to train yourself and to share them with your friends or your
                                tourney
                                participants ? That’s exactly why we bring you this beta version of that tool, and you
                                will
                                enjoy it
                                !
                            </p>
                        </div>
                        <div class="d-flex justify-content-center  align-items-md-end">
                            <a class="btn blue_button ">Create my fisrt mappool now!</a>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row flex-lg-column justify-content-md-around mt-3">
                        <div class="d-flex align-items-center flex-md-column  flex-lg-row grey_card float-card card-create">
                            {{ block('jumb_1') }}
                            <div>
                                <h3 class="font-weight-bold title_h3 mb-md-1">Create your own pools </h3>
                                <p>We want everyone to be able to easily create their own mappools</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-md-column  flex-lg-row grey_card float-card card-quick_start">
                            {{ block('jumb_2') }}
                            <div>
                                <h3 class="font-weight-bold title_h3 mb-md-1">Share with your friends</h3>
                                <p>Be sure to share with your friends good bangers to enjoy the game to the fullest.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-md-column  flex-lg-row grey_card float-card card-share">
                            {{ block('jumb_3') }}
                            <div>
                                <h3 class="font-weight-bold title_h3 mb-md-1">Coming Soon ...</h3>
                                <p>Soon you’ll be able to link your mappool to tournament create through the website</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll">
                <div class="scroll-mouse"></div>
            </div>
        </div>
    </section>
{% endblock %}
