//osu - colors

$primary : #00b9db;
$secondary : #fff;
$pink : #bc497c;
$purple : #aa88ff;
$yellow : #FFCC22;
$green : #88b300;
$black : #121415;
$red : #BB2222;
$gray : #C4C4C4;
$light-gray : #838383;
$indigo: #FC6AFF;
$violet: #302E38;
$fuchsia: #BB1177;
$bg-dark: #22282A;
$blue: #2299BB;


// background - colors
$search-bg: #171B1C;
$dark: #171a1c;
$obscure: #22282a;
$classic: #2e3538;
$light: #465156;
$lighter: #2E3538;

// mods - colors

$dark-nm: #1a1a1a;
$light-nm: #666666;

$dark-hd: #5a581d;
$light-hd: #7f6000;

$dark-hr: #5a1d1d;
$light-hr: #660000;

$dark-dt: #35194a;
$light-dt: #351c75;

$dark-fm: #192d4a;
$light-fm: #073763;

$dark-tb: #214d2a;
$dark-tb: #274e13;

// border-radius

$light-border: 10px;
$strong-border: 9999px;

// shadow

$shadow: 0 1px 3px rgb(0, 0, 0, 0.25);
$strong-shadow : 4px 4px 8px rgba(23, 26, 28, 0.5);

// typo

//6px
$smallest: 0.375rem;
//8px
$extra-small: 0.5rem;
//12px
$small: 0.75rem;
//16px
$medium: 1rem;
//24px
$large: 1.5rem;
//32px
$extra-large: 2rem;
//40px
$largest : 2.5rem;


// breakpoints

$breakpoint-sm: 600px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1350px;
