body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.extra-small-text {
    font-size: $extra-small;
}

.container-fluid {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 60px 0 0 0px;
}

@include media-breakpoint-up(sm) {
    .container-fluid {
        padding: 80px 0 0 0;
    }

.small-text {
    font-size: $small;
}

.medium-text {
    font-size: $medium;
}

.large-text {
    font-size: $large;
}

.extra-large-text {
    font-size: $extra-large;
}

.largest-text {
    font-size: $largest;
}

}

@include media-breakpoint-up(lg) {
    .container-fluid {
        padding: 105px 0 0 67px;
    }
}
