body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    &:hover {
        pointer-events: none;
    }
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
