body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    &:hover {
        pointer-events: none;
    }
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.container-fluid {
    min-height: 100vw;
    overflow-x: hidden;
    padding: 60px 0 0 0px;
}

@media (min-width: 765px) {
    .container-fluid {
        padding: 80px 0 0 73px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        padding: 105px 0 0 73px;
    }
}
