{% block test %}
	<h5 class="bg-warning text-uppercase d-flex justify-content-center align-items-center" style="height:50px;">
		{% for i in 0..11 %}
			<p class="text-warning">_</p>  test area  <p class="text-warning">_</p>
		{% endfor %}
	</h5>
{% endblock %}


{% block body %}
	{% include "base.html.twig" %}#}
	{#{% include "component/_mappool.html.twig" %}#}
{% endblock %}
