{% extends 'base.html.twig' %}

{% block title %}Hello ZoneTestController!
{% endblock %}

{% block body %}
	<div>
		{{ block('logo') }}
	</div>
	<div class="container-fluid g-0 ">
			<h1>
				Bonjour
			</h1>
	</div>

{% endblock %}
