{% extends 'base.html.twig' %}

{% block title %}New Mappool{% endblock %}

{% block body %}
    <h1>Create new Mappool</h1>

    {{ include('mappool/_form.html.twig') }}

    <a href="{{ path('mappool_index') }}">back to list</a>
{% endblock %}
