.navbar {
  z-index: 1001;
  position: fixed;
  justify-content: space-between;
  background-color: $classic;
  min-height: 60px;
  max-height: 102px;
  min-width: 100vw;
}

.form-control {
  background-color: $light !important;
  border-radius: 100px !important;
  border-style: none;
}

.nav-button {
  height: 60px;
}

@mixin theme($theme: $classic) {
  background: $theme;
  border-radius: 0 !important;
}

.menu-card {
  @include theme;
  position: fixed;
  margin-top: 60px;
}

.nav-card-osu {
  @include theme($theme: $pink);
}

.nav-card {
  @include theme;
  &:active {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(14, 17, 14, 1) 20%, $classic 100%);
  }
}

@include media-breakpoint-up(sm) {
  .navbar {
    max-height: 73px;
  }
  .logo_nathel {
    max-height: 65px;
  }
  .logo-nav {
    margin-left: 90px;
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    height: 102px;
    padding: 0;
  }
  .logo_nathel {
    max-height: 95px;
  }
  .nav-button {
    display: block;
    justify-content: center;
    width: 160px;
    height: 102px;
    padding-top: 20px;
  }
  .logo-nav {
    margin-left: 90px;
  }
}
