main .btn {
  background-image: url("/assets/images/osu_triangle.png");
  &:hover {
    color: white;
  }
}

.btn-no-bg {
  background-image: unset !important;
}

.btn-success {
  background-color: #88b300;
  border: 1px solid #88b300;

  &:hover,
  &:focus &:focus-within {
    background-color: #afe600;
  }
}

.btn-danger {
  background-color: #bb2222;
  border: 1px solid #bb2222;
}

.following-btn {
  float: right;
  margin: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 22px;
  border: solid 2px $blue;
  height: 45px;
  width: 124px;
  .following-text {
    color: $blue;
    font-size: $large;
  }
}

.change-cover-btn {
  float: right;
  margin: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: 10px;
  border: solid 2px $blue;
  height: 24px;
  width: 83px;
  .change-cover-text {
    color: white;
    font-size: $extra-small;
  }
}

.delete-btn {
  float: right;
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  border: 0;
  padding: 4px 10px;
  background-color: $red;
  border-radius: 22px;
  color: white;
  font-size: $extra-small;
}
.add-btn {
  @extend .delete-btn;
  background-color: $blue;
}

.close-btn {
  @extend .delete-btn;
}

.btn-upload {
  @extend .delete-btn;
  background-color: $lighter;
}

.save-btn {
  @extend .delete-btn;
  background-color: $dark-pink;
  font-size: $medium;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.save-collection-btn {
  @extend .delete-btn;
  margin-top: 24px;
  background-color: $dark-pink;
  font-size: $medium;
  text-align: center;
  padding: 2px 10px;
  border-radius: 36px;
}

.create-collection-btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: $classic;
  border-radius: 10px;
  color: $blue;
  font-size: $medium;
  width: 98%;
  height: 64px;
  box-shadow: 1px 1px 3px 1px #171a1c80;
  margin-bottom: 76px;
}

.classification-title {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 301px;
  height: 58px;
  border-radius: 10px;
  background: $classic;
  color: $secondary;
  font-size: $large;
  margin: 23px auto -70px;
  box-shadow: 4px 4px 8px 0px #171a1c80;

  .popular-title,
  .recent-title {
    display: flex;
    flex-direction: column;
    &:after {
      content: "";
      background-color: #00b9db;
      width: 55px;
      height: 3px;
      border-radius: 36px;
      margin-left: 1px;
    }
  }
}
@include media-breakpoint-up(sm) {
  .change-cover-btn {
    height: 40px;
    width: 122px;
    .change-cover-text {
      font-size: $small;
    }
  }
  .delete-btn {
    font-size: $small;
    padding: 8px 18px;
  }

  .save-btn {
    font-size: $large;
    padding: 9px 30px;
  }

  .btn-upload {
    font-size: $large;
    padding: 8px 43px;
  }

  .classification-title {
    max-width: 410px;
    height: 86px;
    font-size: $extra-large;
    .popular-title,
    .recent-title {
      &:after {
        width: 72px;
      }
    }
  }
  .create-collection-btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: $classic;
    border-radius: 10px;
    color: $blue;
    font-size: $medium;
    width: 479px;
    height: 98px;
    box-shadow: 1px 1px 3px 1px #171a1c80;
    margin-bottom: 76px;
  }
}
@include media-breakpoint-up(lg) {
  .delete-btn {
    font-size: $medium;
    padding: 8px 24px;
  }
  .save-btn {
    font-size: $large;
    padding: 9px 30px;
  }
  .btn-upload {
    font-size: $large;
    padding: 8px 43px;
  }

  .classification-title {
    max-width: 410px;
    height: 86px;
    font-size: $extra-large;

    margin: 39px 39px -46px;
    .popular-title,
    .recent-title {
      &:after {
        width: 72px;
      }
    }
  }
}
