main .btn {
  background-image: url("/assets/images/osu_triangle.png");
  &:hover {
    color: white;
  }
}
.btn-no-bg {
  background-image: unset !important;
}
.btn-success {
  background-color: #88b300;
  border: 1px solid #88b300;

  &:hover,
  &:focus &:focus-within {
    background-color: #afe600;
  }
}

.btn-danger {
  background-color: #bb2222;
  border: 1px solid #bb2222;
}

.dropdown-button {
  background: transparent;
  border: none;
  .dropdown {
    width: 24px;
  }
  .btn-rotate {
    transform: rotate(180deg);
  }
}

.following-btn {
  float: right;
  margin: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 22px;
  border: solid 2px $blue;
  height: 45px;
  width: 124px;
  .following-text {
      color: $blue;
      font-size: $large;
  }
}

.change-cover-btn {
  float: right;
  margin: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: 10px;
  border: solid 2px $blue;
  height: 24px;
  width: 83px;
  .change-cover-text {
      color: white;
      font-size: $extra-small;
  }
}

@include media-breakpoint-up(sm) {
  .dropdown-button {
    .dropdown {
      width: 24px;
    }
  }
}
.change-cover-btn {
  height: 40px;
  width: 122px;
  .change-cover-text {
      font-size: $small;
  }
}

@include media-breakpoint-up(sm) {
  .dropdown-button {
    .dropdown {
      width: 32px;
    }
  }
}
