@mixin global-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-top: 10px;
}

.tags {
  @include global-tags;
}

.tags-right {
  @include global-tags;
  flex-direction: row-reverse;
}

.tag {
  font-size: $extra-small;
  padding: 0.2rem 0.5rem;
  line-height: normal;
  color: $dark;
  background: $gray;
  border-radius: $strong-border;
}

@include media-breakpoint-up(sm) {
  .tag {
    font-size: $small;
  }
}

@include media-breakpoint-up(lg) {
  .tag {
    font-size: $large;
  }
}
