@mixin global-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-top: 10px;
}

.tags {
  @include global-tags;
}

.tags-right {
  @include global-tags;
  flex-direction: row-reverse;
}

.tag {
  font-size: $extra-small;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  margin-left: 5px;
  line-height: normal;
  color: $dark;
  background: $gray;
  border-radius: $strong-border;
  white-space: nowrap;
}

.game-mod-tag {
  @extend .tag;
  color: $text;
  background: $light-pink;
}
.stars-tag {
  @extend .tag;
  color: $text;
  background: $light-gray;
}
.rank-range-tag {
  @extend .tag;
  color: $text;
  background: $dark-green;
}
.category-tag {
  @extend .tag;
  color: $text;
  background: $dark-violet;
}

@include media-breakpoint-up(sm) {
  .tag {
    margin-left: 10px;
    font-size: $small;
  }
}

@include media-breakpoint-up(lg) {

}
