.global-collection-data {
    height: 388px;
    .data-img-text {
        padding: 1%;
        background-image: url("/assets/images/contributor-bg.png");
        background-size: cover;
        width: 100%;
        height: 125px;
        top: 0px;
        .collection-data-title {
            flex-direction: column;
            font-size: $large;
        }
        .collection-data-text {
            flex-direction: column;
            font-size: $small;
        }
        .global-data-tag {
            bottom: 0;
            padding: 0 0 5px 3px;
            font-size: $extra-small;
            .collection-data-tag {
                background-color: gray;
                margin: 0 5px 0 0;
                padding: 4px;
                border-radius: 22px;
                color: black;
            }
        }
        @for $i from 0 through 3 {
            .collection-data-avatar {
                width: 16px;
                height: 16px;
                font-size: $small;
                margin-right: -8px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}

/*@include media-breakpoint-up(sm) {
    .global-collection-data {
        .global-img-text {
            width: calc(100vw - 72px);
            .collection-data-img {
                width: calc(100vw - 72px);
            }
        }
    }
}
*/
