//CHOISIR ENTRE LE FICHIER _collection.scss où _collection-data.scss //

.collection-card {
    height: 123px;
    width: 100%;
    margin-bottom: 22px;
    .data-collection {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        .data-text {
            font-size: $small;
            .collection-title {
                margin: 0 !important;
                font-size: $large;
                white-space: nowrap;
                overflow: scroll;
                text-overflow: ellipsis;
            }
        }
    }
    .dropdown-card {
        height: 20px;
        width: 100%;
    }
}

@include media-breakpoint-up(sm) {
    .collection-card {
        height: 244px;
        border-radius: 10px;
        justify-content: center;
        margin: 20px 0 20px 0;

        .bg-collection {
            border-radius: 10px;
            justify-self: center;
            margin: 0 5% 0 5%;
            .filter {
                border-radius: 10px;
                .following-btn {
                    float: right;
                    margin: 1rem 0.5rem;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.397);
                    border-radius: 22px;
                    border: solid 2px $blue;
                    height: 45px;
                    width: 124px;
                    .following-text {
                        color: $blue;
                        font-size: $large;
                    }
                }
                .data-collection {
                    width: 70%;
                    .data-text {
                        font-size: $medium;
                        .collection-title {
                            margin: 0 0 10px 0 !important;
                            font-size: $extra-large;
                            margin-bottom: 5px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .collection-card {
        width: 100%;
        min-width: 60%;
        flex-direction: row;
        height: 452px;
        margin-left: 3%;
        .bg-collection {
            margin: 0 3% 0 0%;
            .filter {
                .data-collection {
                    .data-text {
                        .collection-title {
                            font-size: 60px;
                        }
                    }
                    .mappools-text {
                        font-size: $large;
                    }
                    .tag-text {
                        font-size: $large;
                    }
                    .maps-text {
                        font-size: $large;
                    }
                    .global-tag-card {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
