#collection-body {
  background-color: $bg-dark;
  height: auto;
  padding-bottom: 32px;
}

.contributors-contain {
  background-color: $dark;
  height: auto;
  padding: 14px 10px 5px 10px;

  &.open {
    .contributors {
      height: auto;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }
}

.contributors-h2 {
  font-size: $medium;
  width: max-content;
  margin: 0 0 13px 7px;

  &:after {
    content: "";
    display: block;
    background-color: $primary;
    width: 100%;
    height: 2px;
    border-radius: 11px;
    margin-top: 3px;
  }
}

.contributors {
  height: 158px;
  overflow: hidden;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
}

.contributor {
  flex-direction: column;
  position: relative;
  width: 100px;
  background-image: url("/assets/images/constellation.svg");
  background-color: $classic;
  height: 150px;
  border-radius: 10px
}

.delete {
  position: absolute;
  right: 10px;
  top: 6px;
}

.contributor-flag {
  position: absolute;
  left: 10px;
  top: 6px;
  border-radius: 20px;
  border: 1px solid black;
}

.contributor-1 {
  display: flex;
  flex-direction: column;
  height: 70px;
  background-image: url("https://via.placeholder.com/109x59");
  width: 100%;
  border-radius: 5px;

  .contributor-thumbnail {
    border-radius: 20px;
    margin: 15px 30px;
    border: 1px solid black;
    width: 40px;
  }
}

.contributor-2 {
  text-align: center;

  .contributor-name {
    font-size: $small;
    margin: 5px 0;
  }

  span {
    display: block;
    width: 100px;
    font-size: $extra-small;
    color: #9D9D9D;
  }
}

@include media-breakpoint-up(sm) {
  #collection-body {
    padding: 12px;
  }
  .contributors-h2 {
    font-size: $extra-large;
  }
  .contributors {
    max-width: 580px;
  }
  .contributors-contain {
    border-radius: 10px;
  }
}

@include media-breakpoint-up(lg) {
  .contributors-contain {
    width: 540px;
    height: 450px;
  }
  .contributors-h2 {
    margin: 0 0 13px 7px;
  }
  .contributors {
    flex-direction: column;
    justify-content: normal;
    flex-wrap: nowrap;
    height: 371px !important;
    overflow-y: scroll;
    border-radius: 10px;

    .contributor {
      flex-direction: row;
      width: 490px;
      min-height: 90px;
    }
  }

  .contributor-flag {
    left: 71px;
  }
  .contributor-1 {
    width: 100px;
    height: auto;

    .contributor-thumbnail {
      width: 60px;
      margin: 15px 5px 15px 6px;
    }
  }

  .contributor-2 {
    padding: 20px 15px;

    .contributor-name {
      font-size: $large;
    }

    span {
      display: none;
    }
  }
  .arrow {
    display: none;
  }
}


