.jumbotron-home {
  background-image: url("/assets/images/home_bg.jpg");
  background-size: cover;
  color: $secondary;
  height: 89vh;

  * {
    margin-bottom: 0;
  }
}

.filter {
  @include media-breakpoint-up(lg) {
    padding: 45px;
  }
  .jumb-h1 {
    font-size: $large;
    @include media-breakpoint-up(sm) {
      font-size: $extra-large;
    }
    @include media-breakpoint-up(lg) {
      font-size: $largest;
    }
  }

  .jumb-extra-small-text {
    font-size: $extra-small;
    @include media-breakpoint-up(sm) {
      font-size: $small;
    }
    @include media-breakpoint-up(lg) {
      font-size: $medium;
    }
  }

  background-color: rgba($black, .5);
  height: 100%;

  .pink-button {
    background-color: $pink;
    color: $secondary;
    border-radius: 11px;
    margin-top: 1vh;
    font-size: $small;
    @include media-breakpoint-up(sm) {
      font-size: $medium;
    }
    @include media-breakpoint-up(lg) {
      font-size: $extra-large;
    }
  }
}

.filter-2 {
  background-color: rgba($dark, .8);
  border-radius: 11px;
  margin: 3vh 1vw;

  @include media-breakpoint-up(md) {
    margin: -1vh 4vw;
  }
  @include media-breakpoint-up(lg) {
    margin: 9vh 4vw;
    width: 833px;
    height: 400px;
  }

  .bloc-text-btn {
    @include media-breakpoint-up(lg) {
      width: 35%;
      margin-right: 28px;
    }

    .filter-2-text {
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }

    .jumb-h2 {
      font-size: $large;
      @include media-breakpoint-up(lg) {
        font-size: $extra-large;
      }
    }

    .jumb-h2-p {
      font-size: $small;
      @include media-breakpoint-up(lg) {
        font-size: $medium;
      }
    }

    .h2-blue-line:after {
      content: "";
      display: block;
      background-color: $primary;
      width: 50px;
      height: 4px;
      border-radius: 11px;
    }

    .blue-button {
      background-color: $primary;
      color: $secondary;
      border-radius: 10px;
      width: 250px;
      height: 40px;
      margin-top: 12vh;
      font-size: $small;
      @include media-breakpoint-up(lg) {
        font-size: $medium;
        margin-top: 3vh;
      }
    }
  }
  .cards-container{
    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  .grey-card {
    background-color: $light;
    border-radius: $light-border;
    margin: 1vh;
    box-shadow: 20px 20px 20px rgb(23, 26, 28, 30%);

    h3 {
      color: $primary;
      font-size: $medium;
      @include media-breakpoint-up(lg) {
        font-size: $large;
      }
    }

    .logo-jumb {
      @include media-breakpoint-up(lg) {
        width: 135px;
        height: auto;
      }
    }

    p {
      font-size: $small;
      @include media-breakpoint-up(lg) {
        font-size: $medium;
      }
    }

    @include media-breakpoint-up(sm) {
      text-align: center;
      width: 200px;
      height: 170px;
    }

    @include media-breakpoint-up(lg) {
      text-align: start;
    }

    @include media-breakpoint-up(lg) {
      width: 400px;
      transition: transform .2s ease;
      &:nth-child(1) {
        margin-top: -50px;
        transform-origin: 75% 40%;

        &:hover {
          transform: rotate(-3deg);
          transition: transform .2s ease;
        }
      }

      &:nth-child(2) {
        margin: 5vh 1vw 5vh 200px;

        &:hover {
          transform: rotate(5deg);
          transition: transform .2s ease;
        }
      }

      &:nth-child(3) {
        margin-bottom: -50px;
        transform-origin: 40% 75%;

        &:hover {
          transform: rotate(-5deg);
          transition: transform .2s ease;
        }
      }
    }
  }
}

