.section-mappool-data {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .filter {
        .global-mappool-data {
            color: $secondary;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            padding: 10px;
            height: 100%;
            .mappool-data {
                flex-direction: column;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                scrollbar-width: none;
                width: 100%;
                .mappool-name {
                    display: flex;
                    font-size: $medium;
                    overflow: scroll;
                    justify-content: space-between;
                    width: 100%;
                }
                .mappool-collection {
                    font-size: $extra-small;
                }
                .mappool-contributor {
                    font-size: $extra-small;
                }
                .mappool-count {
                    font-size: $extra-small;
                }
                .follow-btn {
                    width: 30px;
                }
            }
            .mappool-tag {
                margin-top: auto;
                flex-direction: row;
                justify-content: flex-end;
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    .section-mappool-data {
        .filter {
            border-radius: 10px 10px 0 0;
            height: 232px;
            .global-mappool-data {
                border-radius: 10px 10px 0 0;
                padding: 10px;
                height: 232px;
                .mappool-data {
                    .mappool-name {
                        font-size: $large;
                    }
                    .mappool-collection {
                        font-size: $medium;
                    }
                    .mappool-contributor {
                        font-size: $medium;
                    }
                    .mappool-count {
                        font-size: $medium;
                    }
                    .follow-btn {
                        width: 32px;
                    }
                }
            }
        }
        .global-beatmapset {
            padding: 4px 10px;
            color: $secondary;
            flex-direction: column;
            border-radius: 10px;
            border: solid 1px $dark;
            margin: 16px;
            width: 95%;
            height: 70px;
            .beatmapset {
                font-size: $medium;
            }
            .beatmapset-creator {
                font-weight: lighter;
                font-size: $small;
                .creator-link {
                    text-decoration: underline;
                    color: $indigo !important;
                }
            }
            .beatmapset-data {
                font-size: $small;
            }
            .dowload-btn {
                display: flex;
                justify-content: flex-end;
                margin-top: -45px;
            }
        }
        .check-mappool {
            background: linear-gradient(180deg, rgba(70, 81, 86, 0.42) 0%, #465156 29.69%);
            width: 100%;
            height: 74px;
            margin-top: -74px;
            border-radius: 0 0 10px 10px;
            justify-content: center;
            align-items: center;
            .check-button {
                border-radius: 36px;
                background-color: $fuchsia;
                height: 43px;
                color: $secondary;
                font-size: $large;
                width: 235px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
