.jumbotron_home {
  background-image: url("../images/home_bg.jpg");
  background-size: cover;
  color: $secondary;

  * {
    margin-bottom: 0;
  }

  .filter {
    background-color: rgba($black, .5);


    .row_1 {
      padding: 3vh 4vw;
      .title_h1 {
        font-size: $large;
        font-weight: bold;
      }
      .font_xsmall {
        font-size: $xsmall;
      }

      .pink_button {
        background-color: $pink;
        color: $secondary;
        border-radius: 11px;
        margin-top: 2vh;
        font-size: $small;
      }

    }

    .filter_2 {
      background-color: rgba($dark, .8);
      border-radius: 11px;
      margin: 3vh 1vw;

      .text_row_2 {
        padding: 2vh 4vw;
      }

      .underline_blue {
        background-color: $primary;
        width: 17vw;
        height: 4px;
        border-radius: 11px;
      }

      .font_medium {
        font-size: $small;
        margin-bottom: 8vh;
      }

      .blue_button {
        background-color: $primary;
        width: 57vw;
        height: 5vh;
        font-size: $small;
        color: $secondary;
        margin: auto;
        padding: 1vh 2vw;
        border-radius: 10px;
      }
    }

    .grey_card {
      background-color: $light;
      border-radius: 11px;
      margin: 1vh;
      padding: 1vh 1vw;
      .logo_jumb {
        width: 68px;
        margin: 0 3vw;
        height: auto;
      }
      .title_h3 {
        color: $primary;
        font-size: $medium;
      }
      p {
        font-size: $small;
      }
    }
  }
}
