{% extends 'svg/_svg_global.html.twig' %}
{% block body %}

<section id="modal-body">
    <div class="modal-contain">
        <div class="d-flex justify-content-end">
            <a class="btn-close btn">Close</a>
        </div>
        <form class="search-bar" action="">
            <input class=" form-control" type="text" placeholder="Search user">
            <button class="btn btn-search" type="submit">
                {{ block("search") }}
            </button>
        </form>
        <ul class="modal-list">
            {% for i in 0..3 %}
                <li class="modal-card">
                    <img class="modal-thumbnail" src="https://via.placeholder.com/20x20" alt="">
                    <img class="modal-flag" src="https://via.placeholder.com/14x9" alt="">
                    <p>Filsdelama</p>
                </li>
            {% endfor %}
        </ul>
        <div class="modal-add">
            <p>You want to add :</p>
            <div class="btn-contain">
                <div class="btn btn-add">
                    <p>Trace12</p>
                    <a>
                        {{ block('cross') }}
                    </a>
                </div>
                <div class="btn btn-add">
                    <p>Nireko</p>
                    <a>
                        {{ block('cross') }}
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-confirm">Confirm</a>
        </div>
    </div>
</section>
{% endblock %}
