 {% extends 'base.html.twig' %}

{% block title %}PoolSet index{% endblock %}

{% block body %}

   <link href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
   <script src="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script>


   <div id="slider" ></div>
   
   <style>
      main{
         padding-top: 100px;
      }
      #slider{
         max-width: 50%;
         margin: auto;



      }
      .noUi-tooltip{
         color: #1a1e21;
      }
   </style>


{{ form(formulaire) }}

   <script>

      let slider = document.getElementById('slider');

      noUiSlider.create(slider, {
         start: [20, 80],
         connect: true,
         range: {
            'min': 20,
            'max': 80
         },
         tooltips: [true, true]
      });

      let maxValue = document.getElementById('form_range_max');
      let minValue = document.getElementById('form_range_min');
      //vavar.value = slider.noUiSlider.get();
      //console.log(vavar.value);
      //document.write(slider.noUiSlider.get());
      slider.noUiSlider.on('update', function (values, handle) {

         let value = values[handle];

         if (handle) {
            maxValue.value = value;

         } else {
            minValue.value = Math.round(value);
         }
      });


   </script>

{% endblock %}


