{% extends 'base.html.twig' %}

{% block title %}New PoolSet{% endblock %}

{% block body %}
    <h1>Create new PoolSet</h1>

    {{ include('pool_set/_form.html.twig') }}

    <a href="{{ path('pool_set_index') }}">back to list</a>
{% endblock %}
