{% block create_collection %}
	{% embed "component/_svg-global.html.twig" %}
		{% block body %}
			<div class="d-flex justify-content-center">
				<button class="btn create-collection-btn">
					<svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M4 10H28V14H4V10ZM4 18.0001H28V22.0001H4V18.0001ZM36.0001 18.0001H32.0001V26.0001H24.0001V30.0001H32.0001V38.0001H36.0001V30.0001H44.0001V26.0001H36.0001V18.0001ZM20 29.9999H4V25.9999H20V29.9999Z" fill="#2299BB"/>
					</svg>Create your own collection right now
				</button>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
