{% block body %}
<div class="data-text">
	<h2 class="collection-title invisible-scrollbar">
		{{ col['poolset'].name }}</h2>
	<div class="d-flex global-thumbnail-card">
		<span class="d-lg-none manage-text">manage with</span>
		<div class="d-lg-none thumbnails-contributor">
			{% set break = false %}
			{% for j in 0..2 %}
				{% if  not break %}
					<img class="thumbnail" src="https://via.placeholder.com/150x150" alt="thumbnail">
					{% if j == 2 %}
						<div class="thumbnail">
							<p>
								+
								{{ j +1 }}
							</p>
						</div>
						{% set break = true %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<span class="mappools-text">{{ col['mappools']|length }} mappools</span>
	<span class="d-none d-lg-block text-uppercase maps-text">{{ col['nb_maps']}} maps</span>
</div>
{% endblock %}