<footer>
	<ul class="footer d-md-none base-theme d-inline-flex justify-content-around align-items-center">
		<li class="nav-item">
			<a href="/">
				Home
			</a>
		</li>
		<li class="nav-item">
			<a href="/">
				Pools
			</a>
		</li>
		<li class="nav-item">
			<a href="/">
				Explore
			</a>
		</li>
	</ul>
</footer>
