{% extends "svg/_svg.html.twig" %}

{% block body %}
	<div class="col-12 d-flex">
		<div class="side-nav col-2 d-none d-sm-block">
			<nav class="nav flex-column">
				<a class="nav-link active" aria-current="page" href="#">Active</a>
				<a class="nav-link" href="#">Link</a>
				<a class="nav-link" href="#">Link</a>
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</nav>
		</div>
		<nav class="col-md-10 col-12 navbar">
			<div class="no-transition show collapse multi-collapse" aria-expanded="true" id="multiCollapseExample1">
					<a href="#">
						{% block logo %}
							{{ parent() }}
						{% endblock %}
					</a>
			</div>
			<div class=" no-transition collapse show multi-collapse" id="multiCollapseExample3">
				<p class="d-flex d-md-none navbar-brand navbar-expand-lg text-light my-auto">
					Nathel
				</p>
			</div>
			<div class="no-transition col-10 collapse hide multi-collapse" id="multiCollapseExample1">
				<form class="d-flex d-md-none  my-auto">
					<input class="form-control ms-2" type="search" placeholder="Search ..." aria-label="Search">
					<button class="btn" type="submit">
						{% block search %}
							{{ parent() }}
						{% endblock %}
					</button>
				</form>
			</div>
			<div id="mobile-menu" class="no-transition menu" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3" onclick="this.classList.toggle('opened');document.getElementById('dropdown-menu').classList.toggle('d-none');" aria-label="Main Menu">
				<div class="mobile-burger d-md-none">
					<span>{#<?= $_SESSION['match']['name']; ?>#}</span>
					{% block burger %}
						{{ parent() }}
					{% endblock %}
				</div>
			</div>
		</nav>
	</div>

	<nav id="dropdown-menu" class="d-none d-sm-none text-start ">
		<div class="col-12 border-0 menu-card d-flex flex-column border-0" width="100%">
			<a href="/test" class="btn nav-button nav-card-osu align-center text-decoration-none text-start text-light">
				<span class="d-flex my-3 ms-5" title="Coming Soon!">
					▸ Continue with Osu!
				</span>
			</a>
			<a href="/test" class="btn nav-button nav-card text-decoration-none text-start text-light">
				<span class="text-uppercase d-flex my-3 ms-5" title="Coming Soon!">
					Tournaments
				</span>
			</a>
			<a href="/test" class="btn nav-button nav-card text-decoration-none text-start text-light">
				<span class="text-uppercase d-flex my-3 ms-5" title="Coming Soon!">
					Guide Osu!
				</span>
			</a>
			<a href="/test" class="btn nav-button nav-card text-decoration-none text-start text-light">
				<span class="text-uppercase d-flex my-3 ms-5">
					Mappool
				</span>
			</a>
		</div>
	</nav>
{% endblock %}
