{% block jumbotron %}
	{% embed "/component/_svg-global.html.twig" %}
		{% block body %}
			<section class="jumbotron-home">
				<div class="filter d-lg-flex flex-lg-column justify-content-lg-between">
					<div class="h-lg-75 mt-lg-3">
						<div class="mt-3 mt-lg-0 ms-3">
							<h1 class="jumb-h1 fw-bold">Osu! Nathel Mappools</h1>
							<p class="jumb-extra-small-text">Get better on and create your mappools</p>
							{% if app.user.name is not defined %}
								<a class="btn pink-button" href="https://osu.ppy.sh/oauth/authorize?response_type=code&client_id=12429&redirect_uri=http://osu.nathel.net/connexion&scope=public">Continue with osu !</a>
							{% endif %}

						</div>
						<div class="d-lg-flex justify-content-lg-end">
							<div class="filter-2 d-lg-flex ms-sm-3">
								<div class="mt-sm-5 mt-lg-0 bloc-text-btn">
									<div class=" filter-2-text mx-3 mt-3">
										<h2 class="jumb-h2 h2-blue-line">Create and Share !
										</h2>
										<p class="jumb-h2-p mt-2  mt-lg-5">
											Welcome to the Osu! Nathel Mappool tool ! Have you never dreamt about easily
											creating
                                            your own sets of maps to train yourself and to share them with your friends or your
                                            tourney
                                            participants ? That’s exactly why we bring you this beta version of that tool, and
                                            you
                                            will
                                            enjoy it
                                            !
										</p>
									</div>
									<div class="d-flex justify-content-center justify-content-sm-end justify-content-lg-center">
										<a class="btn blue-button mx-sm-3" href="{{ path('manage_collection') }}">Create my fisrt mappool now!</a>
									</div>
								</div>
								<div class="d-flex flex-column flex-sm-row flex-lg-column justify-content-sm-around mt-3 cards-container">
									<div class="d-flex align-items-center flex-sm-column  flex-lg-row grey-card card-create">
										{{ block('jumb_1') }}
										<div>
											<h3 class="fw-bold mb-sm-1">Create your own pools
											</h3>
											<p>We want everyone to be able to easily create their own mappools</p>
										</div>
									</div>
									<div class="d-flex align-items-center flex-sm-column  flex-lg-row grey-card card-quick_start">
										{{ block('jumb_2') }}
										<div>
											<h3 class="fw-bold mb-sm-1">Share with your friends</h3>
											<p>Be sure to share with your friends good bangers to enjoy the game to the fullest.</p>
										</div>
									</div>
									<div class="d-flex align-items-center flex-sm-column  flex-lg-row grey-card card-share">
										{{ block('jumb_3') }}
										<div>
											<h3 class="fw-bold mb-sm-1">Coming Soon ...</h3>
											<p>Soon you’ll be able to link your mappool to tournament create through the website</p>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
					<div class="scroll d-none d-lg-flex justify-content-lg-center">
						{# issues1 scroll-mouse href vers /page/home.html.twig l.9 #}
						<a class="scroll-mouse" href="#scroll"></a>
					</div>
				</div>
			</section>
		{% endblock %}
	{% endembed %}
{% endblock %}
