{% block body %}
	
	<div class="global-skew">
		<div class="mappool-skew">
			<div class="d-flex negative-mappool-skew">
				{% set i = 0 %}
				{% for mappool in mappools %}
					<div class="global-mappool-card" {% if i == 0 or i == 2 %} style="margin-top: -25px;" {% endif %}>
						{% include "/layout/_mappool-card.html.twig" %}</div>
					<div class="global-mappool-card-small">
						{% include "/layout/_mappool-card.html.twig" %}</div>
					{% set i = i+1 %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
