{% block modal_contributor %}

	{% embed "/component/_svg-global.html.twig" %}
		{% block body %}
			<div class="modal global-modal-contributor" id="staticBackdrop-contributor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class=" mx-auto modal-content modal-add-contributor">
						<div class="d-flex flex-end justify-content-end">
							<button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
						</div>

						<form>
							<div class="d-flex block-search-user">
								<div class="d-flex ">
									<input class="search-user bg-transparent" type="text" placeholder="Search user">
								</div>
							</div>
							<div class="d-flex search-result-block scrollbar">
								{% for i in 0..3 %}

									<div class="d-flex user-card" style="background-image: url('{{asset('/build/constellation.svg')}}')">

										<img class="contributor-avatar" src="{{ asset('build/default_avatar.png') }}">
										<img class="contributor-flag" src="{{ asset('build/flag.png') }}">

										<div class="d-flex contributors-data">
											<span class="contributor-name">Farrell-Shey974</span>
										</div>
									</div>

								{% endfor %}
							</div>
							<span class="text-add">You want to add :</span>
							<div class="d-flex block-user-selected invisible-scrollbar">
								<div class="user-selected border-0">Thrace12
									<button type="button" class="unselected-btn border-0 bg-transparent">
										{{ block("cross") }}
									</button>
								</div>
							</div>
							<div class="d-flex flex-end justify-content-end">
								<button type="button" class="add-btn" data-bs-dismiss="modal" aria-label="Confirm">Confirm</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
