.search-section{
  width: 98.5%;
}

//composant search//
.search-form {
  padding: .5rem .5rem 1.5rem .5rem;
  background: $obscure;

  .main-input {
    width: unset;
    margin: .5rem .5rem 0 .5rem;

    .form-control {
      border-radius: 0;
      display: flex;
      flex-wrap: nowrap;
      min-width: 100%;

      .btn {
        background-image: unset !important;
      }

      .svg {
        fill: $secondary;
      }
    }
  }
}
.search-filter {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $small;
  background: $classic;
  gap: 1rem;
  padding: 0 1rem;

  .svg {
    width: 16px;
    height: 11px;
    fill: $primary;
  }

  .search-item {
    display: grid;
    gap: .2rem;

    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: $light-border;
      margin: auto;
      background: $primary;
      transition: width .2s ease-in-out;
    }

    &.active, &:hover {
      color: $primary;

      &:after {
        width: 92%;
        transition: width .2s ease-in-out;
      }
    }
  }
}

//debug//
.search-result {
  min-height: 150px;
}

@include media-breakpoint-up(sm) {
  .search-section {
    padding: 76px .5rem .5rem;
  }

//composant search//
  .search-form {
    border-radius: 10px 10px 0 0;

    .main-input {
      padding: 2rem;
      margin: -70px 0 0 0;

      .form-control {
        flex-wrap: wrap;

        input {
          width: calc(100% - 52px);
        }

        .btn {
          padding: 0;
        }

        .svg {
          width: 40px;
          height: 52px;
        }
      }
    }
  }

  .search-filter {
    font-size: $medium;

    .svg {
      width: 24px;
      height: 16px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .search-section {
    padding: 100px 2rem 2rem;
  }
//composant search//
  .search-form {
    .main-input {
      width: 70%;
      margin: -70px auto 0;
    }

    .search-option {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .search-option {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "mod category"
                        "rank ratting";
    gap: 14%;

    .block-mod {
      grid-area: mod;
    }

    .block-category {
      grid-area: category;
    }

    .block-rank {
      grid-area: rank;
    }

    .block-ratting {
      grid-area: ratting;
    }
  }
}
