.global-edit-mappool {
    padding: 2%;
    .background-edit-mappool {
        margin: 10px 0 10px 0;
        width: 98%;
        border: solid 1px rgba(255, 255, 255, 0.144);
        border-radius: 10px;

    }
    .block-edit-mappool {
        background: $light;
        border-radius: 10px;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 10px auto;
        .dropdown-block {
            width: 98%;
            .dropdown {
                margin-right: auto;
                width: 24px;
            }
        }
        .block-btn {
            width: 98%;
        }

        .block-dropdown-data {
            flex-direction: column;
            width: 90%;
            height: fit-content;
            height: -moz-fit-content;

            .block-mappool-data {
                width: 100%;
                height: 31px;
                margin: 6px 0;
                border-radius: 10px;
                border: solid 2px $classic;
                padding: 4px 6px;
                .map-link-card {
                    width: 60%;
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0.3);

                    .map-link-text {
                        font-size: $smallest;
                    }
                    .map-link {
                        width: 95%;
                        font-size: $extra-small;
                        margin-top: -3px;
                    }
                }
                .menu-mod {
                    margin-right: auto;
                    .mod-target {
                        .card-menu {
                            width: 47px;
                            margin: 4px 6px 0 6px;
                            background-color: #2e3538;
                            border-radius: 0 0 5px 5px;
                            .mod-btn {
                                background-color: transparent;
                                width: 100%;
                                height: fit-content;
                                height: -moz-fit-content;
                                border: solid 1px rgba(128, 128, 128, 0.5);
                                border-left: none;
                                border-right: none;
                                border-top: none;
                                &:hover {
                                    -webkit-box-shadow: inset 0px 0px 25px 10px $primary;
                                    box-shadow: inset 0px 0px 25px 10px $primary;
                                }
                                .mod-choice {
                                    font-size: $middle-small;
                                    margin: auto;
                                    color: $secondary;
                                }
                            }
                        }
                    }
                    .mod-select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: fit-content;
                        width: -moz-fit-content;
                        border-radius: 22px;
                        border: solid 1px $gray;
                        margin-left: 5px;
                        margin-right: auto;
                        padding-left: 4px;
                        background-color: rgba(0, 0, 0, 0.3);
                        .block-drop-menu {
                            flex-direction: row;
                            color: $gray;
                            .mod {
                                margin: 0 6px;
                                font-size: $middle-small;
                            }
                            .dropdown-toggle {
                                width: 9px;
                                color: $gray;
                            }
                        }
                    }
                }
            }
        }
        .block-mappool-title {
            fill: $classic;
            flex-direction: column;
            background-color: $dark;
            align-items: space-around;
            border-radius: 10px;
            width: 100%;
            height: 94px;
            padding: 5px;
            .global-card-title {
                margin: 5px 0;
                padding: 0 10px;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                background-color: transparent;
                height: fit-content;
                height: -moz-fit-content;
                width: 98%;
                border-radius: 10px;
                background-color: $classic;
                border: solid 1px $light;

                .mappool-title {
                    margin: 0 10px 0 0;
                    width: fit-content;
                    width: -moz-fit-content;
                    white-space: nowrap;
                    font-size: $medium;
                }
                .mappool-title-edit {
                    overflow: hidden;
                    min-width: 10%;
                    .mappool-input-title {
                        height: 19px;
                        margin-top: 4px;
                        background: transparent !important;
                        outline: 0 !important;
                        margin-left: 5px;
                        border: 0;
                        border-bottom: solid 2px $primary;
                    }
                }
            }
        }
    }
    .block-save-btn {
        justify-content: flex-end;
        width: 95%;
        margin: 16px auto 16px auto;
    }
}
